:host {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 8px;
  break-inside: avoid;
  overflow: hidden;
}

:host:hover {
  filter: brightness(115%);
  outline-style: solid;
  outline-color: red;
}

img {
  display: block;
  width: 100%;
}