<h2 mat-dialog-title>Add GIF</h2>
<mat-dialog-content class="mat-typography">
  <div class="flex-container">
    <mat-form-field>
        <mat-label>Copy/paste GIF link</mat-label>
        <input matInput type="text">
    </mat-form-field>
  </div>
      <img src="https://tenor.com/view/spongebob-rich-crying-spongebob-squarepants-tired-gif-15478380797129610503.gif">

 
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button matButton="outlined" mat-dialog-close>Cancel</button>
  <button matButton="filled" [mat-dialog-close]="true" cdkFocusInitial>Confirm</button>
</mat-dialog-actions>
